.text-block{
  width:70vw;
  margin: 0 auto;
}
.proper{
  margin-top: 120px;
  display: flex;
  width: 70vw;
  justify-content: space-around;
  flex-wrap:wrap;
}
.text{
  font-size: 12px;
  width: 250px;
  margin-bottom:10px;
}
.proper-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

}
